* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #282828;
  font-family: 'Inconsolata', monospace;
}

div.container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding: 0 5%;
}

p.base {
  margin: .2em;
}

p.indent {
  margin-left: 2em;
}

.base {
  color: #aab1bf;
}

.blue {
  color: #18a7b3;
}

.red {
  color: #f05c6c;
}

.purple {
  color: #d861dd;
}

.green {
  color: #86ca79;
}
